.load{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cont{
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    background-image: url("https://i.pinimg.com/originals/84/bc/14/84bc14a0d8168451ec4798e7325bac74.jpg");
}