.boton{
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: large;
    color: #5f5e99;
    border: 1px solid #5f5e99;
    border-radius: 5px;
    cursor: pointer;
}

.input{
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: large;
    color: #5f5e99;
    border: 1px solid #5f5e99;
    border-radius: 5px; 
}